/*  your css code here. If applicable */
.star{
 width:200px;
	height:200;
	position:relative;
}
.triangle{
	width:0px;
	height:0px;
	border-left:50px solid transparent;
	border-right:50px solid transparent;
	border-bottom:90px solid yellow;
	position:absolute;
}
.down{
	border-top:90px solid yellow;
	border-bottom:0;
	transform: translateY(25%);
}