.star {
  width: 150px;
  height: 150px;
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.up {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 90px solid yellow;
  top: 0;
}

.down {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 90px solid yellow;
  bottom: 0;
}
