   .star {
      position: relative;
      width: 200px;
      height: 200px;
      margin: 100px auto;
    }
    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid yellow;
      transform-origin: bottom center;
    }
    .t1 {
      transform: rotate(0deg) translateY(-50%);
    }
    .t2 {
      transform: rotate(72deg) translateY(-50%);
    }
    .t3 {
      transform: rotate(144deg) translateY(-50%);
    }
    .t4 {
      transform: rotate(216deg) translateY(-50%);
    }
    .t5 {
      transform: rotate(288deg) translateY(-50%);
    }